.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.is-active {
  background-color: rgb(109, 107, 107);
}

.nav-link:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 21px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 40px;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .nav-wrapper {
    width: 100%;
  }

  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-links li {
    text-align: end;
  }

  .active {
    display: flex;
  }
}
